@import "libs/reset";
@import "libs/variables";
@import "libs/mixins";
@import "libs/herosection";
@import "libs/aboutus";
@import "libs/journal";
@import "libs/wannago";
@import "libs/travel";
@import "libs/gallery";
@import "libs/ourclients";
@import "libs/howwework";



*,
*::before,
*::after {
	box-sizing: border-box;
}

// body, html {
// 	background-color: #ccc;
// }

// Main style
// Advice to use other smaller files and importing them here
// than writing all code below


// Responsive usage:
// use @include breakpoint(size) {}
// will be rendered as media query 
// and applies from 0px to extra small/small/medium/large size
// ex:

	
// 	// Apply styles for 0 - 992px
// 	@include breakpoint(medium) {
// 		width: 90%;
// 	}
	
// 	// Apply styles for 0 - 768px
// 	@include breakpoint(small) {
// 		width: 100%;
// 	}
// }


