	<div class="container" id="gallery">
      

<div class="container gallery-container ">
  
    <h1 class="text-center"> GALLERY</h1>
  
      
    <div class="tz-gallery">
  
        <div class="row mb-3 ">
            <div class="col-md-4">
                <div class="card image-holder">
                    <a class="lightbox linked" href="dist/images/pexels-photo-640781.jpeg">
                    <img src="dist/images/pexels-photo-640781.jpeg" alt="Park" class="card-img-top  hovered">
                    </a>
                </div>
            </div>
             
            <div class="col-md-4">
                <div class="card image-holder">
                    <a class="lightbox" href="dist/images/pexels-photo-939722.jpeg">
                    <img src="dist/images/pexels-photo-939722.jpeg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
             
            <div class="col-md-4">
                <div class="card image-holder">
                    <a class="lightbox" href="dist/images/pexels-photo-206660.jpeg">
                    <img src="dist/images/pexels-photo-206660.jpeg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
        </div>
          <div class="row"> 
            <div class="col-md-4">
                <div class="card image-holder">
                    <a class="lightbox" href="dist/images/pexels-photo-842155.jpeg">
                    <img src="dist/images/pexels-photo-842155.jpeg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
             
            <div class="col-md-4">
                <div class="card image-holder">
                    <a class="lightbox" href="dist/images/pexels-photo-869258.jpeg">
                    <img src="dist/images/pexels-photo-869258.jpeg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
             
            <div class="col-md-4">
                <div class="card image-holder">
                    <a class="lightbox" href="dist/images/pexels-photo-834977.jpeg">
                    <img src="dist/images/pexels-photo-834977.jpeg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
         
        </div>
        <div class="row"> 
            <div class="col-md-4">
                <div class="card image-holder">
                    <a class="lightbox" href="dist/images/pexels-photo-842155.jpeg">
                    <img src="dist/images/pexels-photo-842155.jpeg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
             
            <div class="col-md-4">
                <div class="card image-holder">
                    <a class="lightbox" href="dist/images/pexels-photo-834977.jpeg">
                    <img src="dist/images/pexels-photo-834977.jpeg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
             
            <div class="col-md-4">
                <div class="card image-holder">
                    <a class="lightbox" href="dist/images/pexels-photo-834977.jpeg">
                    <img src="dist/images/pexels-photo-834977.jpeg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
         
        </div>
  
    </div>
  
</div>
 
</div>
