*{
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

.travel {
	width: 100%;
	
	height: 500px;

}

.wrapper {
	width: 70%;
	height: 400px;
	margin: 0 auto;
	
	display: flex;
}

.alltogether {
	width: 25%;
	height: 400px;
	border: 1px solid black;
}


.numbers {
	width: 100%;

	display: flex;
	justify-content: space-around;
	padding: 0;
	margin-top: 40px;
	flex-wrap: nowrap;
	}


.numbers .numb {
	width: 25%;
	height: 50px;
	text-align: center;

	width: 180px;
	height: 50px;
	text-align: center;

	}

		


.numb .oval {
	font-size: 20px;
	font-weight: bold;
	width: 40px;
	height: 40px;
	border: 2px solid rgba(0, 0, 0, .5);
	color: rgba(0, 0, 0, .5);
	border-radius: 50%;
			
	font-family: 'Open Sans', sans-serif; 
	margin: 0 auto;
	line-height:37px;
	transition: .4s;


	}

.alltogether .circle {
	width: 180px;
	margin: 20px;
	height: 180px;
	border-radius: 50%;
	border: 1px solid transparent;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s ease-in;

	background-color: rgba(0, 0, 0, 0.2);
	}


.alltogether .circle .hexagon {
	 position: relative;
	 width: 130px; 
	 height: 75.06px;
	 background-color: #ffffff;
	 margin: 37.53px 0;
	 box-shadow: 0 0 20px rgba(0,0,0,0.25);
	 display: flex;
	 justify-conten: center;
	 align-items: center;
}

.alltogether .circle .hexagon:before,
.alltogether .circle .hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 91.92px;
  height: 91.92px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 19.0381px;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

.alltogether .circle .hexagon:before {
  top: -45.9619px;
}

.alltogether .circle .hexagon:after {
  bottom: -45.9619px;
}

/*cover up extra shadows*/
.alltogether .circle .hexagon span {
  display: block;
  position: absolute;
  top:0px;
  left: 0;
  width:130px;
  height:75.0555px;
  z-index: 2;
  background: inherit;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}


/*......................*/


.description {
	width: 180px;
	height: auto;
	margin: 0 auto;
}
	


 .description .lorem {
 		text-align: center;
 		font-family: 'Open Sans', sans-serif; 
 	font-size: 14px;
 	color: #fff;
	transition: .4s;


 		span {
 			font-weight: bold;
 			color: #fff;

 		}
 	}

}/ // JS MOUSEOVER------------------------
  .fly-in {
 	visibility: visible!important;
 }


 .backto {
 	visibility: hidden;
 }
/.getbigger {
 	background-color: rgba(0, 0, 0, .5);
 	color: #fff!important;
 	border: 1px solid transparent!important;
 	transform: scale(1.1);