

.pav {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;


}




.gall {
  width: 70%;
  margin: 60px auto 60px auto;
}



// LOGOOOOOO CSS---------------------------------------------


 .logo-container {
 	width: 100%;
 	height: 120px;
 	background-color: rgba(188, 183, 183, 0.2);
 	margin-top: 70px;
	margin-bottom: 70px;
  
    @include breakpoint(large) {
    visibility: hidden;
    display: none;
  }
 }

 .logo-container > .logo-box {

 	width: 70%;
 	margin: 0 auto;
 	line-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  	


 }

  .logo-container > .logo-box > .logoss {

  	width: 16.66%;
  	height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  


  	
  }

  .logo-container > .logo-box > .logoss > img{
	
  	width: 100px;
  	transition: 0.3s;
  	filter: grayscale(100%);

  
	


  }

  .logo-container > .logo-box > .logoss > img:hover {

  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
       -o-transform: scale(1.2);
          transform: scale(1.2);
	filter: none;

  }




// SLICK CAROUSEL ....................................


#slicky {
  width: 70%;
  height: 50px;
  margin: 40px auto;
  visibility: hidden;
  opacity: 0;
  
  display: flex;
  align-items: center;
  transition: .3s ease-in;



     @include breakpoint(large) {
      visibility: visible;
      opacity: 1;
  }

}


.center div {
  display: flex;
  align-items: center;
  
}
  


.center  img {
  width: 120px;
  
  display: block;
  margin: 0 auto;

  @include breakpoint(astuoni) {
    width: 100px;
  }
}



