
.hero {
	width: 100%;
	height: 100vh;
	position: relative;
	
	@include breakpoint(small) {
		 background-image: url('../../dist/images/eberhard-grossgasteiger-421042-unsplash.jpg');
		 background-size: cover
	}
}
	
#myVideo {
	
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    min-width: 100%; 
	    min-height: 100%;
	    @include breakpoint(small) {
		visibility: hidden;
	}

	    
		}


.containerr {
	width: 100%;
	height: 70px;
	position: absolute;
	top: 0;
	background-color: rgba(255, 255, 255, 0.1);
	transition: .4s ease-in-out;
	
}
.containerr:hover {
	background-color: rgba(255, 255, 255, 0.4);
}


.navigation {
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	position: relative;


	h1 {
			line-height: 70px;
			font-family: bringin;
			font-size: 34px;
			color: black;
			opacity: 0.6;
			margin: 0 50px 0 10px;
			cursor: pointer;
			@include breakpoint(small) {
			margin: 0 0 0 40px ;
		}

	
				span {
					color: #36AEEA;
					cursor: pointer;
								}	
			}
	@include breakpoint(large) {
		width: 100%;
	}

	// @include breakpoint(medium) {
	// 	width: 100%;
	// }
	// 	@include breakpoint(small) {
	// 	width: 100%;
	// }



		ul {

			@include breakpoint(large) {
			width: 100%;
			margin: 0 auto;}

			@include breakpoint(small) {
			margin-left: 50px;}

			@include breakpoint(xsmall) {
			
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			width: 55px;
			position: absolute;
			right: 30px;
			top: 70px;
			visibility: hidden;

			}
	
}
}


.navigation > ul > li{
	margin-right: 12px;
	display: inline-block;

	
	@include breakpoint(xsmall) {
			width: 55px;
			display: block;
			height: 40px;



		}

	a {
		font-size: 13px;
		font-weight: bold;
		font-family: 'Open Sans', sans-serif;
		text-decoration: none;
		color: black;
		opacity: .6;
		line-height: 70px;
		padding-bottom: 2px;
		@include breakpoint(small) {
			font-size: 10px;
		}



			}
	}


	.navigation > ul > li >  a {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		margin: -5px 0;
		background-color: #36AEEA;
		visibility: hidden;
		transform: scaleX(0);
		transition: all 0.3s ease-in-out 0s;
	}
	&:hover:before {
		visibility: visible;
		transform: scaleX(1);

	}
}


.button {
	height: 30px;
	width: 100px;
	margin: auto 0;
	opacity: 1;
	border: 2px solid #36AEEA;
	font-weight: bold;
	line-height: 28px;
	text-align: center;
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	color: #36AEEA;
	border-radius: 2px;
	float: right;
	position: absolute;
	right: 10px;
	top: calc(50% - 16px);
	transition: .3s ease;
	border-radius: 30px;
	outline: 0;
	@include breakpoint(small) {
		width: 70px;
		height: 25px;
		line-height: 23px;
		top: calc(50% - 13.5px);

	}
	@include breakpoint(xsmall) {
			visibility: hidden}
}
	.button:hover {
		
		transform: skewY(3deg);

	}
		
// .fade-in {

// 	animation: fadeIn 4s;
// }

// @keyframes fadeIn {
// 	from {
// 		opacity: 0;

// 	}

// 	to {
// 		opacity: 1;
// 	}
// }




.travel {
	width: 70%;
	height: auto;
	// border-left: 2px solid #fff;
	
	position: absolute;
	top: 35%;
	left: 15%;

}
.travel {


	h1 {
		font-size: 45px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		letter-spacing: 3px;
		color: #fff;
		margin: 20px 0 0 20px;
		@include breakpoint(small) {
			font-size: 30px;
		}
	}


	h2 {
		font-size: 60px;
		font-family: "bringin";
		margin-left: 20px;
		color: #36AEEA;
		margin-top: -8px;
		@include breakpoint(small) {
			font-size: 40px;
		}
	}


	p {
		margin: 10px 0 20px 20px;
		color: #fff;
		line-height: 25px;
		font-family: 'Open sans';
		font-size: 13px;

		@include breakpoint(small) {
			font-size: 12px;
			color: rgba(0, 0, 0, .8);

		}
	
	}

	button {
		background-color: #36AEEA;
		border: 0;
		width: 170px;
		height: 40px;
		font-size: 13px;
		font-weight: bold;
		color: #fff;
		margin: 0 0 20px 20px;
		cursor: pointer;
		font-family: 'Open Sans', sans-serif;
		transition: .5s ;
		border-radius: 40px;
		outline: 0;

		@include breakpoint(small) {
			width: 100px;
			height: 30px;
			font-size: 10px;
		}


	}
}
.travel > button:hover {
		
		
		transform: skewY(3deg);
}





.arrow > a > svg{
	font-size: 25px;
	color: #36AEEA;
	position: absolute;
	bottom: 20px;
	left: 50%;
	cursor: pointer;
	opacity: 1;
 	 -webkit-transition: all .5s ease-in 3s;
 	transition: all .5s ease-in 3s;


	-webkit-animation: bounce 2s infinite 2s;
 	 animation: bounce 2s infinite 2s;
  	-webkit-transition: all .2s ease-in;
  	transition: all .2s ease-in;
}




@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}


.burger {
	
	width: 26px;
	height: 70px;
	float: right;
	display: flex;
	align-items: center;
	visibility: hidden;
	margin-right: 40px;
	position: absolute;
	right: 0;
	@include breakpoint(xsmall) {
			visibility:visible;}

}

.burger > .burger-lines {
	width: 35px;

	
	
	cursor: pointer;
 
}


.burger > .burger-lines > div {
	width: 25px;
    height: 3px;
    background-color: #36AEEA;
    margin: 6px 0;
}



// js css 

.navigation .show-ul {
	visibility: visible!important;
	


}