


.how-we {
	width: 100%;
	height: 100vh;
	background-image: url('../../dist/images/paul-gilmore-181002-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: flex;
	
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;

	@media screen and (max-width: 1080px) {
	  	align-items:center;
	  	
	  	height: 100vh;
	  }
		
}

.we-work {
	width: 50%;
	margin: 0 auto 0 auto;
	padding-bottom: 100px;
	padding-top: 50px;
	text-align: center;
		
		@media screen and (max-width: 1080px) {
		  	padding-top: 30px;
	 	 }
	
		h1 {
			font-family: 'Open Sans', sans-serif; 
			font-weight: bold;
			font-size: 30px;
			color: rgba(0, 0, 0, .5);
			// padding: 30px 0;
		}

}


.traveler {
	width: 100%;

	height: 500px;

}
.wrapperis {
	width: 70%;
	height: 400px;
	margin: 0 auto;
	
	display: flex;
	@media screen and (max-width: 1080px) {
		  	
	 	 }



}

.alltogether {
	width: 25%;
	height: 400px;
	margin: 0 auto;

	@media screen and (max-width: 1080px) {
    	
	
  		transform: scale(.9);
  	}

  	@media screen and (max-width: 970px) {
    
  	transform: scale(.8);}
	
}


.numbers {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin-top: 40px;
	// @media screen and (max-width: 1080px) {
    
 //  	transform: rotate(90deg);}
	}


.numbers .numb {
	width: 25%;
	height: 50px;
	text-align: center;

	width: 180px;
	height: 50px;
	text-align: center;

	}

		


.numb .oval {
	font-size: 20px;
	font-weight: bold;
	width: 40px;
	height: 40px;
	border: 2px solid rgba(0, 0, 0, .5);
	color: rgba(0, 0, 0, .5);
	border-radius: 50%;
			
	font-family: 'Open Sans', sans-serif; 
	margin: 0 auto;
	line-height:37px;
	transition: .4s;


	}

.alltogether .circle {
	width: 180px;
	margin: 20px auto;
	height: 180px;
	border-radius: 50%;
	border: 1px solid transparent;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s ease-in;

	background-color: rgba(0, 0, 0, 0.2);

	// @media screen and (max-width: 1080px) {
    
 //  	transform: rotate(90deg);}
	
	
}
 // JS MOUSE OVER
 .darken {
	background-color: rgba(0, 0, 0, .5)!important;
	transform: scale(1.05);
		@media screen and (max-width: 1080px) {
    	background-color: rgba(0, 0, 0, .2)!important;
  		transform: none;}
	


}
// js mouse out
 .reset {
	background-color: rgba(0, 0, 0, 0.2);
	transform: scale(1);


}


.alltogether .circle .hexagon {
	 position: relative;
	 width: 130px; 
	 height: 75.06px;
	 background-color: #ffffff;
	 margin: 37.53px 0;
	 box-shadow: 0 0 20px rgba(0,0,0,0.25);
	 display: flex;
	 justify-conten: center;
	 align-items: center;
    


}

.alltogether .circle .hexagon:before,
.alltogether .circle .hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 91.92px;
  height: 91.92px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 19.0381px;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

.alltogether .circle .hexagon:before {
  top: -45.9619px;
}

.alltogether .circle .hexagon:after {
  bottom: -45.9619px;
}

/*cover up extra shadows*/
.alltogether .circle .hexagon span {
  display: block;
  position: absolute;
  top:0px;
  left: 0;
  width:130px;
  height:75.0555px;
  z-index: 2;
  background: inherit;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}


.hexagon > span > img {
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 16px);
	
	

}

.hexagon > span > .antras {
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 20px);

}

.hexagon > span > .trecias  {
	position: absolute;
	top: calc(50% - 19px);
	left: calc(50% - 19px);
}

.hexagon > span > .ketvirtas {
	top: calc(50% - 19px);
	left: calc(50% - 19px);
}

/*......................*/


.description {
	width: 180px;
	height: auto;
	margin: 30px auto 0 auto;

	// @media screen and (max-width: 1080px) {
    
 //  	transform: rotate(90deg);
 //  	padding-left: 50px;
	// }


	.lorem {
		text-align: center;
		font-family: 'Open Sans', sans-serif; 
		font-size: 14px;
		color: #fff;
		visibility: hidden;
		transition: .4s;
		opacity: 0;

			@media screen and (max-width: 1080px) {
				visibility: visible;
				opacity: 1;
				line-height: 20px;
  			}

		span {
			font-weight: bold;
			color: #fff;
			
			@media screen and (max-width: 1080px) {
				font-size: 15px;
  			}
		}
	}
}




// // JS MOUSEOVER------------------------
 .fly-in {
	visibility: visible!important;
	opacity: 1!important;
}


.backto {
	visibility: hidden;
}
.getbigger {
	background-color: rgba(0, 0, 0, .4);
	color: #fff!important;
	border: 1px solid transparent!important;
	transform: scale(1.05);
	@media screen and (max-width: 1080px) {
				background-color: transparent;
				color: black!important;
				border: 2px solid rgba(0, 0, 0, .5)!important;
				transform: scale(none);

  			}
}
