// Responsive breakpoints
// define custom if needed
$breakpoints: (
	xxsmall: 515px, 
	xsmall : 670px,
	small  : 768px,
	astuoni: 890px,
	medium : 992px,
	large  : 1200px
);

// Media query mixins
@mixin breakpoint($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media (max-width: #{map-get($breakpoints, $breakpoint)}) {
			@content;
		}
	}
}