
.lastone {
	width: 100%;
	height: 100%;
	position: relative;
}


.our-client {
	width: 100%;
	height: 650px;
	background-image: url('../../dist/images/Group.png');
	background-size: auto;
	
	
}



.our-client > .pavadinimas {

	width: 100%;
	height: 70px;
	margin: 0 auto 40px auto;
	
		h1{
			text-align: center;
			line-height: 70px;
			font-family: 'Open Sans', sans-serif;
			font-weight: bold;
			letter-spacing: 2px;
			font-size: 26px;
			color: #36AEEA;


		}
}


.our-client > .whattheysay {
	width: 70%;
	
	margin: 0 auto;
	
	display: flex;
	justify-content: center;
	@include breakpoint(small) {
			display: block;}
			


	.pavliv, .john {
		width: 50%;
		position: relative;
		@include breakpoint(small) {
			
			width: 100%;

		}
	}

}


.whattheysay .block {

		font-family: 'Open Sans', sans-serif;
		color: #8c8989;
		width: 70%;
		line-height: 25px;
		word-spacing: 5px;
		text-align: center;
		margin: 0 auto;
		@include breakpoint(medium) {
		font-size: 14px;}

		@include breakpoint(small) {
		text-align: left;
		font-size: 12px;
		width: 100%;
		}
		@include breakpoint(xxsmall) {
		 	color: black;
		 }

		
		}

.whattheysay .block  h1 {

	@include breakpoint(small) {
		width: 100%;}
}






.pavliv > .people {
	margin-top: 10px;
    
    color: #36AEEA;
    word-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint(medium) {
			font-size: 14px;}

    @include breakpoint(small) {
		margin-top: 0px;
		margin-bottom: 40px;
		justify-content: center;}


	@include breakpoint(xxsmall) {
			color: #36AEEA;}

   		span {
   			font-size: 15px;
   			font-weight: bold;
   			word-spacing: 0px;
   			color: #36AEEA;

   			@include breakpoint(small) {
			font-size: 13px;}

   			@include breakpoint(xxsmall) {
   				color: #36AEEA;}
   			}
}

.john > .people {
	margin-top: 10px;
   
    color: #36AEEA;
    word-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
     align-items: center;

    @include breakpoint(medium) {
		font-size: 14px;}

	@include breakpoint(small) {
		margin-top:0px;
		justify-content: center;}

	@include breakpoint(xxsmall) {
   		color: #36AEEA;
   		}
	 

   		span {
   			font-size: 15px;
   			font-weight: bold;
   			word-spacing: 2px;
   			color: #36AEEA;

   			@include breakpoint(small) {
			font-size: 13px;}

			@include breakpoint(xxsmall) {
   				color: #36AEEA;
   				}
   			}
   		}





.block:before {
    content: "\"";
    font-size: 50px;
    display: block;
    position: absolute;
    top: -15px;
    color: #8c8989;
    

  

}
.people img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;

    	@include breakpoint(small) {
			height: 35px;}

}



//  water part 

.water {
	width: 100%;
	height: 650px;
	background-image: url('../../dist/images/water.png');
	background-size: cover;
	background-position: bottom;
	position: absolute;
	top: 50%;}

.contain {

	width: 100%;
	height: 500px;
	position: relative;

		h1 {
			width: 100%;
			padding-top: 20px;
			font-family:'Open Sans', sans-serif;
			font-weight: bold;
			font-size: 25px;
			text-align: center;
			letter-spacing: 2px;
			color: #36AEEA;

			@include breakpoint(xsmall) {
				font-size: 22px;
			}
		}

		p {
			width: 100%;
			text-align: center;
			margin-top: 10px;
			font-family:'Open Sans', sans-serif;
			font-size: 13px;

			@include breakpoint(xsmall) {
				font-size: 11px;
			}
		}

}

.contacts {
	width: 360px;
	height: auto; 
	margin: 30px auto;
	// border: 1px solid transparent;
	// border-top: 1px solid transparent;
	position: absolute;
	top: 15%;
	left: calc(50% - 180px);
	
	background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('../../../src/images/formbackgr.png');
	border-radius: 6px;
	// 	@include breakpoint(large) {
	// 	margin-top: 40px;
	// }
		@include breakpoint(medium) {
		margin-top: 40px;}

		@include breakpoint(astuoni) {
		margin-top: 70px;
		}

		@include breakpoint(xsmall) {
		 	width: 320px;
		 	left: calc(50% - 160px);
		 }
		@include breakpoint(xxsmall) {
		 	top: 40%;
		 }



}

.contacts > form > input {
	display: block;
	margin: 20px auto;
	width: 320px;
	height: 40px;
	
	text-indent: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	outline: none;
	border: none;
	border-radius: 3px;
	caret-color: #36AEEA;
	@include breakpoint(xsmall) {
		 	margin: 15px auto;
			width: 280px;
			height: 35px;
			font-size: 12px;
			
		 }


}
.contacts > form > button {
	display: block;
	width: 320px;
	height: 40px;
	margin: 0 auto;
	background-color: #36AEEA;
	border: 0;
	border-radius: 3px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	letter-spacing: 1px;
	margin-bottom: 20px;
		@include breakpoint(xsmall) {
			width: 280px;
			height: 35px;
		}

	

}


//   FOOOOOOOOOOOOTER !!!!!!!!!!!!111


.footer {
	height: 55px;
	width: 100%;

	position: absolute;
	bottom: 0;
}

 .footer-content {
	height: 100%;
	width: 70%;

	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
		@include breakpoint(xxsmall) {
		 	width: 90%;
		 }


		p {
			font-family: 'Open Sans', sans-serif; 
			font-size: 12px;
			font-weight: bold;
			color: rgba(255, 255, 255, .6);
			@include breakpoint(xxsmall) {
		 	font-size: 11px;
		 }
		 


		}

		h1 {
			font-family: 'Open Sans', sans-serif; 
			color: rgba(255, 255, 255, .6);
			letter-spacing: 2px;
			font-weight: bold;
			@include breakpoint(xxsmall) {
		 	font-size: 11px;}
		}

		.fa-twitter {
			color: #1da1f2;
			margin: 5px;

		}

		.fa-facebook-f {
			color: #4267b2;
			margin: 5px;
		}

		.fa-vk {
			color:  #4a76a8;
			margin: 5px;
		}


		svg {
			cursor: pointer;
			margin: 0 3px;
		}
}

