
.wraper
{
    position: relative;

    width: 100%;
    height: 860px;
    margin-top: 70px;
}





.store
{
    position: absolute;
    z-index: 10;
	


    width: 100%;
    height: 550px;

    background-image: url('../../dist/images/worldmap-dots.png');
   
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}



.lake
{
    position: absolute;
    z-index: 1;
    top: 35%;

    width: 100%;
    height: 550px;

    background-image: url('../../src/images/lake.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    @include breakpoint(medium) {
		background-position: right bottom;}

	@include breakpoint(xsmall) {
		display: none;
	
	}
}


// .offer-box {
// 	width: 70%;
// 	display: flex;
// 	justify-content: center;
// 	flex-wrap: wrap;
// 	margin: 0 auto;

// }

// .store >  #travelwithusto {

// 	width: 50%;
// 	height: 50px;
// 	margin: 0 auto;
// 	// padding-top: 30px;

// 		h1 {
// 			font-size: 25px;
// 			font-family: 'Open Sans', sans-serif;
// 			font-weight: bold;
// 			text-align: center;
// 			text-transform: uppercase;
// 			padding-top: 40px;


// 		}
// }

// .offer-box > .offer {
// 	width: 18%;
// 	height: 330px;
	
// 	margin: 10px;
// 	background-size: cover;
// 	margin-top: 70px;



	



// 	 &:first-of-type {
// 	 	margin: 70px 10px 0 0;
// 	 }

// 	 &:last-of-type {
// 	 	margin: 70px 0 0 10px;
// 	 }

// }

// .offer-box .offer {
// 	transition: .3s ease-out;
// }

// .offer-box  .offer:nth-child(1) {
// 	background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../../dist/images/car.png');
// }

// .offer-box .offer:nth-child(2) {
// 	background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../../dist/images/alps.png');
// }

// .offer-box .offer:nth-child(3) {
// 	background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../../dist/images/pyre.png');
// }

// .offer-box .offer:nth-child(4) {
// 	background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../../dist/images/rocky.png');
// }

// .offer-box  .offer:nth-child(5) {
// 	background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../../dist/images/kav.png');
// }


// .offer-box .offer:hover {

// 	transform: scale(1.012);

// }









// .offer-box   .offer {


// 	.stars {
// 		height: 10%;
// 		width: 90%;
// 		padding: 12px 0 0 12px;
// 		// box-sizing: border-box;
		
// 		svg {
// 			color: #fff;
			
// 		}
// 	}


// 	.theplace {
// 		height: 80%;
// 		position: relative;
// 		cursor: pointer;
		

// 		h1 {
// 			padding-left: 12px;
// 			color: #fff;
// 			font-size: 25px;
// 			font-family: 'Open Sans', sans-serif;
// 			padding-bottom: 20px;
// 			position: absolute;
// 			top: 40%;
// 		}
// 		p {
// 			padding-left: 12px;
// 			color: #fff;
// 			font-size: 15px;
// 			font-family: 'Open Sans', sans-serif;
// 			opacity: .9;
// 			position: absolute;
// 			top: 55%;

// 		}	


// 	}



// 	.price {
// 		height: 10%;
// 		// background-color: rgba(255, 255, 255, 0.2);


		
		


// 		h3 {
// 			  text-decoration: line-through;
// 			  font-size: 17px;
// 			  color: #fff;
// 			  font-weight: bold;
// 				opacity: .7;
// 				float: left;
// 				font-family: 'Open Sans', sans-serif;
// 				padding-left: 12px;

// 				line-height: 30px;


			

// 		}


// 		h4 {
// 			color: #fff;
// 			font-size: 20px;
// 			font-weight: bold;
// 			float: right;
// 			font-family: 'Open Sans', sans-serif;
// 			padding-right: 12px;
// 			display: block;
// 			line-height: 30px;
			

// 		}
// 	}
// }


// new shop version ....................................



.full-with {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;

}

.letsgooo {
	height: 50px;
	position: absolute;
	top: 0;
	h1{
		font-size: 25px;
		font-weight: bold;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 2px;
		text-transform: uppercase;


	}
}


.shop {
	width: 70%;
	
	background-color: transparent;
	
	display: flex;
	justify-content: center;
	align-items: center;
	position:absolute;
	z-index: 200;
	margin: 0 auto;
	 // @include breakpoint(medium) {
		// width: 80%;
   
	@include breakpoint(astuoni) {
		width: 70%;}

	@include breakpoint(xsmall) {
		flex-direction: column;
		
		justify-content: flex-start;

	}


}

.offers-go {
	width: 37.5%;
	@include breakpoint(astuoni) {
		width: 50%;}
	@include breakpoint(xsmall) {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		}
	
}
.offers-go .place {
	width: 90%;
	height: 130px;
	
	margin: 10px auto 10px auto;

	
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 11px rgba(33,33,33,.2);
	@include breakpoint(xsmall) {
		height: 100px;
		margin: 3px auto 3px auto;}

}

.place:hover .cart {
	visibility: visible;
	opacity: 1;

}


.center-img {
	width: 25%;


	@include breakpoint(astuoni) {
			display: none;
		}
	

	img {
		width: 90%;
		display: block;
		margin: 0 auto;
		
}
}

.offers-go2 {
	width: 37.5%;

	@include breakpoint(astuoni) {
		width: 50%;}

	@include breakpoint(xsmall) {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 200px;
		}
	
	}



	


	

.offers-go2 .place {
	width: 90%;
	height: 130px;

	box-shadow: 0 0 11px rgba(33,33,33,.2);
	margin: 10px auto 10px auto;

	

	@include breakpoint(xsmall) {
		height: 100px;
		margin: 3px auto 3px auto;
	}
	
	
}

.place1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../../dist/images/pexels-photo-291732.jpeg');
	background-size: cover;
	background-position: center center;
	

	
}
.place2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),url('../../dist/images/pexels-photo-933054.jpeg');
	background-size: cover;
	background-position: center bottom;
	

}
.place3 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),url('../../dist/images/paul-gilmore-146128-unsplash.jpg');
	background-size: cover;
	background-position: center bottom;
	
	
}
.place4 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),url('../../dist/images/pexels-photo-551876 (1).jpeg');
	background-size: cover;

	background-position: center bottom;
	
	
}						
.place5 {
	background-image: url('../../dist/images/pexels-photo-879443.jpeg');
	background-size: cover;
	background-position: center center;

	
	
}
.place6 {
	background-image: url('../../dist/images/pexels-photo-355423.jpeg');
	background-size: cover;
	background-position: center bottom;

	
}
.place {
	display: flex;
	align-items: center;
	transition: .6s ease;
	@include breakpoint(xsmall) {
		background-position: center center;

	}


}


.place:hover {
	// transform: translateX(45px);

	transform: perspective(500px) rotateX(-10deg) rotateY(20deg) scale(1);
	// transform: perspective(500px) rotateX(15deg) rotateY(2deg) scale(1.1);

	@include breakpoint(medium) {
		transform: none;
	}
}


.offers-go2 .place:hover {
	transform: perspective(500px) rotateX(-10deg) rotateY(-20deg) scale(1);
	@include breakpoint(medium) {
		transform: none;
	}
}





// inside modifications

.location  {
	position: relative;
	width: 100%;
	height: 100%;	
	transition: .3s ease-in;
	@include breakpoint(medium) {
		cursor: pointer;}

}




.location .cart {
	position: absolute;
	top: 0;
	text-align: center;
	width: 10%;

	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.4);
	transition: .5s ease-in-out;
	visibility: hidden;
	opacity: 0;
	@include breakpoint(medium) {
		display: none;}



		svg {
			color: #fff;
			margin: 10px 0;
			transition: .3s ease-in;

			

		}
}

.offers-go2 .location .cart {
	position: absolute;
	top: 0;
	right: 0;

	}


.location .cart a > .fa-heart:hover {
	color: #36AEEA;
	transform: scale(1.1);
}
.location .cart a > .fa-shopping-cart:hover {
	color: #36AEEA;
	transform: scale(1.1);
}
.location .cart a > .fa-info:hover {
	color: #36AEEA;
	transform: scale(1.1);
}






.location .caption {
	width: 100%;
	height: 100%;
	display: flex;

	align-items: center;
	justify-content: center;


		h1 {
			font-size: 20px;
			text-transform: uppercase;
			color: #fff;
			font-family: 'Open Sans', sans-serif;
			font-weight: bold;
			display: block;
			letter-spacing: 3px;
			@include breakpoint(medium) {
				font-size: 15px;
			}

		}

		p {
			font-family: 'Open Sans', sans-serif;
			font-weight: bold;
			


		}
}

.location .starz {
	position: absolute;
	bottom: 0;
	
	width: 100%;
	height: 20%;
	display: flex;
	
	justify-content: center;
	// background-color: rgba(0, 0, 0, 0.4);
	align-items: center;
	visibility: hidden;
	
	
	
	svg {	color: #fff;
			margin: 3px;


	}
}


.offers-go2 .location .starz {
	
	left: 0;
	}


.coming {
	opacity: 1!important;
	visibility: visible!important;

}